FLASK_ENV=development
SECRET_KEY=change-me
RENNES_API_URL=https://data.rennesmetropole.fr/api/explore/v2.1/catalog/datasets/etat-du-trafic-en-temps-reel/records
RENNES_API_KEY=
MLFLOW_TRACKING_URI=./mlruns
ALERT_EMAIL_ENABLED=false
ALERT_EMAIL_TO=
ALERT_EMAIL_FROM=
ALERT_EMAIL_PASSWORD=
TELEMETRY=False
FMD_DISABLE_TELEMETRY=True